.wrap {
    position: relative;
    padding: 30px;
    font-size: 18px;
    line-height: 1.6;
}

.topBtn {
    position: fixed;
    opacity: 0;
    bottom: 40px;
    right: 40px;
    z-index: -10;
    width: 50px;
    height: 50px;
    border: none;
    background-image: url('assets/img/top01.png');
    background-size: contain;
    background-color: transparent;
    letter-spacing: -0.06em;
    cursor: pointer;
}

.topBtn.active {
    z-index: 10;
    opacity: 1;
}

.topBtn:hover,
.topBtn:focus,
.topBtn:active {
    outline: 0 none;
}